h1 {
  color: orange;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  color: #7c9131;
  font-weight: 900;
  font-family:cursive;
  font-size: 40px;
  text-shadow: 10px 10px black;
  text-decoration:overline;
  text-decoration-color: red;
  font-stretch: extra-expanded;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
a {
  color: orange;
}
body {

  background-size: cover;
  background-color: grey;
}
